/* Navbar */
.heading {
  font-family: "Oswald", serif;
}

.navbar-list-link:hover {
  color: #be9c90 !important;
}

/* Navbar extern */
.navbar-extern {
  background: white;
  justify-content: space-around;
}

.navlink-logo {
  top: 0;
}

#navbarlogo {
  display: block;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.navlogo-hide {
  height: 0 !important;
  transition: fadeout 0.8s ease-in-out;
}

.navlogo-show {
  height: auto;
  transition: fadeout 0.8s ease-in-out;
}

.listLink {
  margin: 0 2em 0 2em !important;
  transition: margin-right 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .page-element {
    font-size: 1.1rem !important;
  }
  .navitem-margin {
    margin: 0 2em 0 2em;
  }

  .navitem-center-left {
    margin-right: 7em;
    transition: margin-right 0.3s ease-in-out;
  }

  .navitem-center-right {
    margin-left: 7em;
    transition: margin-left 0.3s ease-in-out;
  }

  .navlink-logo {
    position: absolute;
  }

  .navbar-extern {
    justify-content: flex-start !important;
  }

  .navtransition-up {
    padding-top: 3rem !important;
    transition: padding-top 0.5s ease-in-out;
  }

  .navtransition-down {
    padding-top: 0;
    transition: padding-top 0.5s ease-in-out;
  }
}


/* Footer */
.page-footer {
  background: url(../img/Hintergrund.jpg);
  background-size: cover;
  padding-bottom: 3%;
  padding-top: 2%;
  font-size: 16px;
  color: white !important;
  margin-bottom: 0 !important;
}

.page-footer a {
  color: white;
}

.footer-row-element {
  color: white;
}

.footer-row {
  margin: auto;
  width: 80%;
  align-content: center;
}

#elOne {
  text-align: center;
}

#elTwo {
  border-left: 1px solid white;
  text-align: center;
}
#elThree {
  display: none;
  text-align: center;
}

@media (min-width: 576px) {
  #elTwo {
    order: 3;
    border-left: none;
  }

  #elThree {
    order: 2;
    border-right: 1px solid white;
    border-left: 1px solid white;
    display: initial;
    width: 100%;
  }
}


/* Welcome Page */
.page-element {
    font-family: "Montserrat", serif;
  font-size: 0.8rem;
  color: black;
}

.scroll-spacing {
padding-top: 5%;
}

.welcome-header {
    font-family: "Oswald", serif;
  font-size: 35px;
  text-align: center;
}

.info-row {
  margin: 5% 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}

.video-class {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.openings {
  text-align: center;
}

.parallax {
  background-image: url(../img/Team.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
}

.pricing-element {
  padding-top: 2%;
  background: #be9c90;
}

.pricing-table {
  width: 100%;
}

@media (min-width: 576px) {
  .pricing-table {
    margin-left: 2.5%;
  }
}
.map-endlicht {
  width: 100%;
  min-height: 15rem;
}

@media (min-width: 768px) {
  .parallax {
    height: 30rem !important;
  }

  .map-endlicht {
    min-height: 25rem !important;
  }
}
.myModal {
  background: url(../img/Titelbild_clean.jpg);
}
.myModalClose {
  margin: 0 0 0 auto !important;
}

.myModalHeader {
  padding: 0.25rem 1rem !important;
}

.content-privacy {
  font-family: "Montserrat", serif;
  font-size: 0.8rem;
}

.content-font {
    font-family: "Montserrat", serif;
}